<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
	<meta charset="utf-8">
	<title>To Do List</title>

</head>

<body>





<ul>
		<% renderList.forEach(element =>{ %> 

			<li><a href="store/<%=  element.street %>"><%=  element.street %></a></li>
		<% }); %>
</ul>



</body>

</html>